body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    margin: 20px;
}

h1 {
    color: #333;
    font-size: 28px;
    margin-bottom: 10px;
}

p {
    line-height: 1.5;
    margin-bottom: 20px;
}

.person-card {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.person-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.person-card h2 {
    font-size: 20px;
    margin: 0;
}

/* CSS styles for the slot machine */
.slot-machine {
    text-align: center;
}

.reel {
    display: inline-block;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
}

.reel img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: top 1s ease-in-out;
}

.button {
    background-color: #333;
    border: none;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

.game-result {
    margin-top: 20px;
}
@font-face {
    font-family: "Custom-font-h1";
    src: url("imagesformenu/magnolia-script.ttf");
  }
  @font-face {
    font-family:"wholepage" ;
    src: url("imagesformenu/ds-arabic_[allfont.ru].ttf");
  }
  
  h1 {
    font-family: "Custom-font-h1", sans-serif;
  }
  
  /*navbar*/
  
  body {
      font-family: 'Times New Roman', Times, serif;
      background-image: url(imagesformenu/wallpaper-gc90e031ce_1920.jpg);
  }
  
  
  .navbar.fixed-top {
      position: sticky;
      top: 0;
      width: 100%;
      z-index: 999;
    }
          .textColor {
              color: #030F27;
          }
  
          .navbarBgDark {
              background: #030F27;
          }
  
          .navbar-nav .nav-link.active {
              color: #EDA72F;
          }
  
          .nav-link:hover {
              color: #EDA72F;
          }
  
          .nav-link {
              color: #fff;
          }
  
          .getBtn {
              color: #fff;
          }
  
          .sideLine {
              border-right: 1px solid #030F27;
          }
  
          .iconHeight {
              height: 24px;
              width: 24px;
          }
  
          @media screen and (min-width: 992px) {
              .sideLine {
                  border-right: none;
              }
  
              .iconHeight {
                  height: 46px;
                  width: 46px;
              }
          }
  
          .forma {
            padding: 10px; /* Add padding to the input field */
            width: 200px; /* Set a width for the input field */
            border: 1px solid #ccc; /* Add a border */
            border-radius: 5px; /* Add border radius */
          }
          
          .formabutton {
            background-color: #4CAF50; /* Green background color */
            border: none; /* Remove border */
            color: white; /* Text color */
            padding: 10px 20px; /* Add some padding */
            cursor: pointer; /* Add a cursor on hover */
            font-size: 16px; /* Set font size */
            border-radius: 5px; /* Add border radius */
          }
          
          .formabutton:hover {
            background-color: #292b29; /* Darker green color on hover */
          }
  
  .container{
      width: 80%;
      margin: 0 auto;
      padding: 1%;
     
  }
  .navbar{
      background-color: #43382f;
      position: sticky;
  }
  
  .img-curve{
      border-radius: 15px;
  }
  
  .card {
      transition: background-color 0.3s ease-in-out;
    }
  
    .card:hover {
      background-color: lightgray;
    }
  
    .card {
      transition: background-color 0.3s ease-in-out;
    }
  
    .card:hover {
      background-color: rgb(229, 222, 159);
    }
  
    h1 {
      transition: color 0.3s ease-in-out;
    }
  
    h1:hover {
      color: rgb(255, 204, 0);
    }
  
  
  
  
  .food-search{
     background-color: #32302a;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      padding: 1%;
  }
  
  
  
  
  
  
  
  @media only screen and (max-width:768px){
      .logo{
          width: 80%;
          float: none;
          margin: 1% auto;
      }
  
      .menu ul{
          text-align: center;
      }
  
      .food-search input[type="search"]{
          width: 90%;
          padding: 2%;
          margin-bottom: 3%;
      }
  
      .btn{
          width: 91%;
          padding: 2%;
      }
  
      .food-search{
          padding: 1% 0;
      }
  
      .categories{
          padding: 20% 0;
      }
      h2{
          margin-bottom: 10%;
      }
      .box-3{
          width: 100%;
          margin: 4% auto;
      }
  
      .food-menu{
          padding: 20% 0;
      }
  
      .food-menu-box{
          width: 90%;
          padding: 5%;
          margin-bottom: 5%;
      }
      .social{
          padding: 5% 0;
      }
      .order{
          width: 100%;
      }
  }
  
  h1
  {
      
      background-color: #8691b7;
      border-radius: 25%;
      color: #ad0f0f;
      text-align: center;
  
  }
  .highlight {
      background-color: yellow;
      font-weight: bold;
    }
    
    
    
    
    
  /*Контейнер*/
    
    .card {
      width: 100%;
      border-radius: 10px; /* Adjust the value as per your preference */
      overflow: hidden;
    }
    
    .card-img-top {
      height: 200px;
      object-fit: cover;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    
    .card-body {
      padding: 1.25rem;
    }
    
    .card-title {
      font-size: 1.25rem;
      margin-bottom: 0.75rem;
      font-family: 'Times New Roman', Times, serif;
      font-weight: bold;
    }
    
    .text-muted {
      font-size: 0.875rem;
      color: rgb(152, 40, 40);
    }
    
    .btn {
      padding: 0.375rem 0.75rem;
      font-size: 0.875rem;
    }
    
    .btn-outline-secondary {
      color: #041e36;
      border-color: #0274d8;
    }
    
    .btn-outline-secondary:hover {
      color: #8b3030;
      background-color: #152f46;
      border-color: #607a90;
    }
  
  
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    header {
        background-color: #333;
        color: #fff;
        padding: 20px;
        text-align: center;
    }

    main {
        margin: 20px;
    }

    h1 {
        color: #333;
        font-size: 28px;
        margin-bottom: 10px;
    }

    p {
        line-height: 1.5;
        margin-bottom: 20px;
    }

    .person-card {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .person-card img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-right: 20px;
    }

    .person-card h2 {
        font-size: 20px;
        margin: 0;
    }

    /* CSS styles for the animation */
    .animate-fade {
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }

    .animate-fade.show {
        opacity: 1;
    }